body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #ff9a9e 0%, #fecfef 100%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gift {
    display: none;
    padding: 20px;
    border-radius: 15px;
    transform: rotate(-3deg);
    cursor: pointer;
    animation: pop-in 1s ease forwards;
    font-size: 48px;
}

#gift1 {
    font-size: 200px;
}

#gift2 {
    font-size: 160px;
}

#gift3 {
    font-size: 120px;
}

#gift4 {
    font-size: 90px;
}

#gift5 {
    font-size: 70px;
}

#gift6 {
    font-size: 55px;
}

#gift7 {
    font-size: 40px;
}

#gift8 {
    font-size: 30px;
}

.gift:hover {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}

.message {

    font-size: 24px;
    color: #ff6f61;
    background-color: white;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.small-gift-message {
    display: none;
    font-size: 24px;
    color: #333;
    margin-top: 20px;
    width: 80%;
}

.initial-gift-message {
    display: none;
    font-size: 24px;
    color: #333;
    margin-top: 20px;
    width: 80%;
}

@keyframes pop-in {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

input[type="radio"] {
    display: none;
}

#gift1:checked~.container #gift2,
#gift2:checked~.container #gift3,
#gift3:checked~.container #gift4,
#gift4:checked~.container #gift5,
#gift5:checked~.container #gift6,
#gift6:checked~.container #gift7,
#gift7:checked~.container #gift8,
#gift8:checked~.container #final-message {
    display: block;
}



#gift2:checked~.container .small-gift-message,
#gift3:checked~.container .small-gift-message,
#gift4:checked~.container .small-gift-message,
#gift5:checked~.container .small-gift-message,
#gift6:checked~.container .small-gift-message,
#gift7:checked~.container .small-gift-message {
    display: block;
}

#gift8:checked~.container .small-gift-message {
    display: none;
}

#gift1:checked~.container #gift1,
#gift2:checked~.container #gift2,
#gift3:checked~.container #gift3,
#gift4:checked~.container #gift4,
#gift5:checked~.container #gift5,
#gift6:checked~.container #gift6,
#gift7:checked~.container #gift7,
#gift8:checked~.container #gift8 {
    display: none;
}

#gift1:checked~.container .initial-gift-message {
    display: block;
}
#gift2:checked~.container .initial-gift-message,
#gift3:checked~.container .initial-gift-message,
#gift4:checked~.container .initial-gift-message,
#gift5:checked~.container .initial-gift-message,
#gift6:checked~.container .initial-gift-message,
#gift7:checked~.container .initial-gift-message,
#gift8:checked~.container .initial-gift-message
{
    display: none;
}