body {
    background-color: black;
    color: white;
}

h1, h6 {
    text-align: center;
}

div {
    margin-top: 50px;
    padding: 5px;
    border: 1px;
    text-align: center;
    display: inline-block;
}

button {
    margin: 3px;
    width: 50%;
}

#corazones, #corazones2 {
    background: url('/src/assets/img/corazones.gif');
    background-size: 100%;
    background-repeat: repeat-x;
    background-position: center;
    height: 200px; 
    width: 100%;
}
